@model EstiEnFrancois.Models.Home
@*@Html.Hidden("RsvpModel_Sent", Model.RsvpModel.Sent)
<div id="preloader">
    <div id="preloaderContainer">
        <div id="infinity"></div>
        <div class="loading-text">Ons kry gou alles vir jou reg.<br/>Dit sal die moeite werd wees, belowe!</div>
    </div>
</div>

<header class="header">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">Esti & Francois</a>
            </div>

            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">Tuis</a></li>
                    <li><a href="#ons">Oor Ons</a></li>
                    <li><a href="#troue">Ons Troue</a></li>
                    <li><a href="#kontak">Kontak Ons</a></li>
                    <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rsvpModal">RSVP</button></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section id="home" class="pfblock-image screen-halfheight">
    <div class="overlay">
        <h1>Esti en Francois</h1>
        <div class="start">trou oor</div>

        <div id="DateCountdown" data-date="2016-10-01 16:00:00"></div>

        <div class="start" style="margin-bottom: 15px;">
            <p>
                Ons kan nie wag nie!
                <br/>
                Kom vier hierdie wonderlike geleentheid saam met ons op die <b>1ste Oktober 2016</b>.
                <br/>
                Ons is <b>hengse</b> opgewonde! Hoop julle is ook!
                <br/>
                Hier kan julle bietjie meer uitvind oor ons, asook ons troue se besonderhede. 
            </p>
            <button type="button" class="btn btn-primary btn-rsvp" data-toggle="modal" data-target="#rsvpModal">Ek wil bywoon!</button>
        </div>
    </div>
</section>

<section id="ons" class="pfblock pfblock-gray" style="display: none;">
    <div class="heart-texture background-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header animated fadeInUp">
                        <h2 class="pfblock-title">Bietjie meer oor ons</h2>
                        <p>Ons neem ons self nie te ernstig op nie. Hier's 'n paar redes hoekom julle ook nie hoef nie!</p>
                        <div class="pfblock-line"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5">
                    <div class="iconbox animation-delay-1 animated slideInLeft">
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Esti</h3>
                            <div class="iconbox-desc">
                                <img src="~/Content/Images/Esti_s.jpg" alt="Esti"/>
                                <p>Esti is 'n onderwyseres met 'n liefde vir kinders van alle ouderdomme, solank hulle luister vir haar en oor die algemeen soet is. Sy geniet Afrikaanse films, Afrikaanse musiek en enigiets Afrikaans vir daai geval. Haar stokperdjies sluit in bak, Francois terg en vakansie hou.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="animated animation-delay-1 fadeInDown text-center">
                        <h2 class="fancy-font-large">&</h2>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="iconbox animated animation-delay-1 slideInRight">
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Francois</h3>
                            <div class="iconbox-desc">
                                <img src="~/Content/Images/Francois_s.jpg" alt="Francois"/>
                                <p>Francois is tans 'n sagteware ingenieur by 'n bekende sagteware konsultasie firma. Hy geniet rekenaars (heeltemal te veel), kyk wat ook al Esti wil kyk en kan soms hardkoppig wees. Sy stokperdjies sluit in tegnologiese dinge en Esti op sy hande te dra.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="iconbox fadeInUp">
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Hoe ons ontmoet het</h3>
                            <div class="iconbox-desc">
                                Francois en Esti het ontmoet by 'n gemeenskaplike vriendin se 21ste verjaarsdag. Hulle het dadelik 'n konneksie gemaak en het 'n maand later begin amptelik uitgaan, tenspyte van 'n gebreekte tand en noue ontkoming met skoonpa op die eerste kuier. Hulle het uitgegaan vir 2 en 'n half jaar voor Francois (uiteindelik, volgens Esti) Esti gevra het on sy bruid te wees. Hulle troue is beplan vir die 1ste Oktober 2016.
                            </div>
                            <br/>
                            <button type="button" class="btn btn-primary btn-rsvp" data-toggle="modal" data-target="#rsvpModal">Ek wil bywoon!</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="iconbox fadeInUp">
                        <div id="ons-slideshow" class="carousel slide " data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#ons-slideshow" data-slide-to="0" class="active"></li>
                                @for (var i = 1; i < Model.SlideshowImageUrls.Count(); i++)
                                {
                                    <li data-target="#ons-slideshow" data-slide-to="@i"></li>
                                }
                            </ol>

                            <div class="carousel-inner" role="listbox">
                                
                            </div>

                            <a class="left carousel-control no-smooth-scroll" href="#ons-slideshow" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control no-smooth-scroll" href="#ons-slideshow" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="troue" class="pfblock-image" style="display: none;">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title">Meer besonderhede oor ons troue</h2>
                        <div class="pfblock-line"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Venue</h3>
                            <div class="iconbox-desc">
                                Ons gaan die knoop deurhaak by die <a class="no-smooth-scroll" href="http://www.makiti.co.za/">Makiti Wedding Venue</a>, 'n 50 hektaar landgoed geleë in die beeldskone Kromdraai vallei naby Krugersdorp, wat ook deel vorm van die Sterkfontein wêreld erfenis gebied. Van Makiti se drie pragtige lokale het ons die intieme <a href="http://www.makiti.co.za/index.php/2015-09-23-11-43-17/function-venues/ennyani-venue">Ennyani lokaal</a> gekies om ons huwelik by te bevestig. 
                                <br/><br/>
                                As julle dalk oornag verblyf benodig kan julle gerus <a class="no-smooth-scroll" href="http://www.makiti.co.za/index.php/accomodation">Makiti</a> kontak of een van die volgende plekkies oorweeg:
                                <ul class="list-unstyled">
                                    <li><a href="http://bankenveldhouse.co.za/">Bankenveld House</a></li>
                                    <li><a href="http://www.engedi.co.za/">Engedi</a></li>
                                    <li><a href="http://www.welpieguesthouse.co.za/index.html">Welpie Guesthouse</a></li>
                                    <li><a href="http://www.cradleaccommodation.co.za/index.html">Villa Savanna</a></li>
                                    <li><a href="http://www.no8guesthouse.co.za/index.html">No 8 Guest house</a></li>
                                    <li><a href="http://sterkfonteinlodge.co.za/">Sterkfontein Heritage Lodge</a></li>
                                    <li><a href="http://devillarosa.co.za/">De Villa Rosa</a></li>
                                </ul>
                                Daar's ook 'n klomp plekke in die naby geleë Krugersdorp
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-7">
                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Kaart</h3>
                            <div class="iconbox-desc embed-responsive embed-responsive-4by3">
                                <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
                                <iframe width="600" height="450" style="border: 0" src="https://www.google.com/maps/embed/v1/place?q=Makiti%20Wedding%20Venue%2C%20Krugersdorp%2C%20South%20Africa&key=AIzaSyANWHG9o6W9OXLfVYrfhEC_jOKCPJVKNYQ" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@{ Html.RenderPartial("_RsvpModal", Model.RsvpModel); }

<div id="sentModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dankie!</h4>
            </div>
            <div class="modal-body">
                <p>Ons het jou RSVP gekry!</p>
                <p>Sien uit daarna om jou by die troue te sien!</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary">Lekker!</button>
            </div>
        </div>
    </div>
</div>

<footer id="kontak" style="display: none;">
    <h3>Kontak ons</h3>
    <div class="social-links-inline">
        <a href="mailto:rsvp@esti-en-francois.co.za" class="fadeInUp"><i class="fa fa-envelope no-smooth-scroll"></i></a>
        <a href="https://www.facebook.com/groups/EstiEnFrancois" class="fadeInUp"><i class="fa fa-facebook no-smooth-scroll"></i></a>
        <button type="button" class="" data-toggle="modal" data-target="#rsvpModal">RSVP</button>
    </div>

    <p class="heart">
        Met&nbsp;<span class="fa fa-heart animated pulse"></span>&nbsp;gemaak deur Francois en Esti<br/>
        © 2015 Esti en Francois | Prente: <a class="no-smooth-scroll" href="http://www.alexholderphotography.com/">Alex Holder Photography</a>, <a class="no-smooth-scroll" href="https://unsplash.com/">Unsplash</a> & <a class="no-smooth-scroll" href="http://zoomwalls.com/">Zoomwalls</a>
    </p>
</footer>

<script type="text/javascript">
    function LoadSlideshow() {
        var slideshowImages = [];

        @foreach (var url in Model.SlideshowImageUrls)
        {
            <text>
                slideshowImages.push("@(Url.Content(url))");
            </text>
        }

        for (var i = 0; i < slideshowImages.length; i++) {
            var itemClass = "item";
            if (i === 0) {
                itemClass += " active";
            }
            $(".carousel-inner").append("<div class='" + itemClass + "'><img src='" + slideshowImages[i] + "' /></div>");
        }
    }
</script>*@
